@charset "UTF-8";
:root {
  --orange: #f4623a;
  --primary: #f4623a;
  /* --font-family-sans-serif: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
}

/* body {
  font-family: "Merriweather", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
} */

a {
  color: #ed2124;
}
a:hover {
  color: #d6370c;
}

a.back-to-top{
  position: fixed;
  bottom: 18px;
  right: 15px;
  text-decoration: none;
}

/* h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
} */

.table-primary,
.table-primary > th,
.table-primary > td {
  background-color: #fcd3c8;
}
.table-primary th,
.table-primary td,
.table-primary thead th,
.table-primary tbody + tbody {
  border-color: #f9ad99;
}
.table-hover .table-primary:hover {
  background-color: #fbc0b0;
}
.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
  background-color: #fbc0b0;
}

.form-control:focus {
  border-color: #fbc2b3;
  box-shadow: 0 0 0 0.2rem rgba(244, 98, 58, 0.25);
}

.btn:focus, .btn.focus {
  box-shadow: 0 0 0 0.2rem rgba(244, 98, 58, 0.25);
}

.btn-ruswin {
  color: #fff;
  background-color: #ed2124;
  border-color: #ed2124;
}
.btn-ruswin:hover {
  color: #fff;
  background-color: #fc1e21;
  border-color: #ff2125;
}
.btn-ruswin:focus, .btn-ruswin.focus {
  color: #fff;
  background-color: #fc1e21;
  border-color: #ff2125;
  box-shadow: 0 0 0 0.2rem rgba(237, 33, 36, 0.5);
}
.btn-ruswin.disabled, .btn-ruswin:disabled {
  color: #fff;
  background-color: #ed2124;
  border-color: #ed2124;
}
.btn-ruswin:not(:disabled):not(.disabled):active, .btn-ruswin:not(:disabled):not(.disabled).active, .show > .btn-ruswin.dropdown-toggle {
  color: #fff;
  background-color: #fc1e21;
  border-color: #ff2125;
}
.btn-ruswin:not(:disabled):not(.disabled):active:focus, .btn-ruswin:not(:disabled):not(.disabled).active:focus, .show > .btn-ruswin.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(237, 33, 36, 0.5);
}

.btn-primary {
  background-color: #f4623a;
  border-color: #f4623a;
}
.btn-primary:hover {
  background-color: #f24516;
  border-color: #ee3e0d;
}
.btn-primary:focus, .btn-primary.focus {
  background-color: #f24516;
  border-color: #ee3e0d;
  box-shadow: 0 0 0 0.2rem rgba(246, 122, 88, 0.5);
}
.btn-primary.disabled, .btn-primary:disabled {
  background-color: #f4623a;
  border-color: #f4623a;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  background-color: #ee3e0d;
  border-color: #e23a0d;
}
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(246, 122, 88, 0.5);
}

.btn-outline-primary {
  color: #f4623a;
  border-color: #f4623a;
}
.btn-outline-primary:hover {
  background-color: #f4623a;
  border-color: #f4623a;
}
.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(244, 98, 58, 0.5);
}
.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #f4623a;
}
.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
  background-color: #f4623a;
  border-color: #f4623a;
}
.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(244, 98, 58, 0.5);
}

.btn-link {
  color: #f4623a;
}
.btn-link:hover {
  color: #d6370c;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: #f4623a;
}

.custom-control-input:checked ~ .custom-control-label::before {
  border-color: #f4623a;
  background-color: #f4623a;
}
.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 0.2rem rgba(244, 98, 58, 0.25);
}
.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
  border-color: #fbc2b3;
}
.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  background-color: #fde9e3;
  border-color: #fde9e3;
}

.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before {
  border-color: #f4623a;
  background-color: #f4623a;
}

.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before {
  background-color: rgba(244, 98, 58, 0.5);
}
.custom-checkbox .custom-control-input:disabled:indeterminate ~ .custom-control-label::before {
  background-color: rgba(244, 98, 58, 0.5);
}

.custom-radio .custom-control-input:disabled:checked ~ .custom-control-label::before {
  background-color: rgba(244, 98, 58, 0.5);
}

.custom-switch .custom-control-input:disabled:checked ~ .custom-control-label::before {
  background-color: rgba(244, 98, 58, 0.5);
}

.custom-select:focus {
  border-color: #fbc2b3;
  box-shadow: 0 0 0 0.2rem rgba(244, 98, 58, 0.25);
}

.custom-file-input:focus ~ .custom-file-label {
  border-color: #fbc2b3;
  box-shadow: 0 0 0 0.2rem rgba(244, 98, 58, 0.25);
}

.custom-range:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(244, 98, 58, 0.25);
}
.custom-range:focus::-moz-range-thumb {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(244, 98, 58, 0.25);
}
.custom-range:focus::-ms-thumb {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(244, 98, 58, 0.25);
}

.custom-range::-webkit-slider-thumb {
  background-color: #f4623a;
}

.custom-range::-webkit-slider-thumb:active {
  background-color: #fde9e3;
}

.custom-range::-moz-range-thumb {
  background-color: #f4623a;
}

.custom-range::-moz-range-thumb:active {
  background-color: #fde9e3;
}

.custom-range::-ms-thumb {
  background-color: #f4623a;
}

.custom-range::-ms-thumb:active {
  background-color: #fde9e3;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #f4623a;
}

.page-link {
  color: #f4623a;
}

.page-link:hover {
  color: #d6370c;
}
.page-link:focus {
  box-shadow: 0 0 0 0.2rem rgba(244, 98, 58, 0.25);
}

.page-item.active .page-link {
  background-color: #f4623a;
  border-color: #f4623a;
}

.badge-primary {
  background-color: #f4623a;
}
a.badge-primary:hover, a.badge-primary:focus {
  background-color: #ee3e0d;
}
a.badge-primary:focus, a.badge-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(244, 98, 58, 0.5);
}

.alert-primary {
  color: #7f331e;
  background-color: #fde0d8;
  border-color: #fcd3c8;
}
.alert-primary hr {
  border-top-color: #fbc0b0;
}
.alert-primary .alert-link {
  color: #562214;
}

.progress-bar {
  background-color: #f4623a;
}

.list-group-item.active {
  background-color: #f4623a;
  border-color: #f4623a;
}

.list-group-item-primary {
  color: #7f331e;
  background-color: #fcd3c8;
}
.list-group-item-primary.list-group-item-action:hover, .list-group-item-primary.list-group-item-action:focus {
  color: #7f331e;
  background-color: #fbc0b0;
}
.list-group-item-primary.list-group-item-action.active {
  color: #fff;
  background-color: #7f331e;
  border-color: #7f331e;
}

/* .tooltip {
  font-family: "Merriweather", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
} */

/* .popover {
  font-family: "Merriweather", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
} */

.bg-ruswin {
  background-color: #ed2124 !important;
}
.bg-primary {
  background-color: #f4623a !important;
}
a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: #ee3e0d !important;
}

.border-primary {
  border-color: #f4623a !important;
}

.text-ruswin {
  color: #ed2124 !important;
}
a.text-ruswin:hover, a.text-ruswin:focus {
  color: #fc1e21 !important;
}
.text-primary {
  color: #f4623a !important;
}
a.text-primary:hover, a.text-primary:focus {
  color: #d6370c !important;
}

body,
html {
  width: 100%;
  height: 100%;
}
hr.divider {
  max-width: 3.25rem;
  border-width: 0.2rem;
  border-color: #ed2124;
}
hr.light {
  border-color: #fff;
}
/* .btn {
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
} */
.btn-xl {
  padding: 1.25rem 2.25rem;
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 10rem;
}
.page-section {
  padding: 8rem 0;
}
#mainNav {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #fff;
  transition: background-color 0.2s ease;
}
#mainNav .navbar-brand {
  /* font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
  font-weight: 700;
  color: #212529;
}
#mainNav .navbar-nav .nav-item .nav-link {
  color: #6c757d;
  /* font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
  font-weight: 700;
  font-size: 0.9rem;
  padding: 0.75rem 0;
}
#mainNav .navbar-nav .nav-item .nav-link:hover, #mainNav .navbar-nav .nav-item .nav-link:active {
  color: #ed2124;
}
#mainNav .navbar-nav .nav-item .nav-link.active {
  color: #ed2124 !important;
}
@media (min-width: 992px) {
  #mainNav {
    box-shadow: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.7);
    padding: 0 1rem;
  }
  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #fff;
  }
  #mainNav .navbar-nav .nav-item:last-child .nav-link {
    padding-right: 0;
  }
  #mainNav.navbar-scrolled {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #fff;
  }
  #mainNav.navbar-scrolled .navbar-brand {
    color: #212529;
  }
  #mainNav.navbar-scrolled .navbar-brand:hover {
    color: #f4623a;
  }
  #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link {
    color: #212529;
  }
  #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link:hover {
    color: #ed2124;
  }
}
header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../images/ruswin/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
header.masthead h1 {
  font-size: 2.25rem;
}
@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 40rem;
    padding-top: 4.5rem;
    padding-bottom: 0;
  }
  header.masthead p {
    font-size: 1.15rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}
@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 3.5rem;
  }
}
.portfolio .container-fluid, .portfolio .container-sm, .portfolio .container-md, .portfolio .container-lg, .portfolio .container-xl {
  max-width: 1920px;
}
.portfolio .container-fluid .portfolio-box, .portfolio .container-sm .portfolio-box, .portfolio .container-md .portfolio-box, .portfolio .container-lg .portfolio-box, .portfolio .container-xl .portfolio-box {
  position: relative;
  display: block;
}
.portfolio .container-fluid .portfolio-box .portfolio-box-caption, .portfolio .container-sm .portfolio-box .portfolio-box-caption, .portfolio .container-md .portfolio-box .portfolio-box-caption, .portfolio .container-lg .portfolio-box .portfolio-box-caption, .portfolio .container-xl .portfolio-box .portfolio-box-caption {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgba(237, 33, 36, 0.9);
  transition: opacity 0.25s ease;
  text-align: center;
}
.portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-category, .portfolio .container-sm .portfolio-box .portfolio-box-caption .project-category, .portfolio .container-md .portfolio-box .portfolio-box-caption .project-category, .portfolio .container-lg .portfolio-box .portfolio-box-caption .project-category, .portfolio .container-xl .portfolio-box .portfolio-box-caption .project-category {
  /* font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
  font-size: 0.85rem;
  font-weight: 600;
  text-transform: uppercase;
}
.portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-name, .portfolio .container-sm .portfolio-box .portfolio-box-caption .project-name, .portfolio .container-md .portfolio-box .portfolio-box-caption .project-name, .portfolio .container-lg .portfolio-box .portfolio-box-caption .project-name, .portfolio .container-xl .portfolio-box .portfolio-box-caption .project-name {
  font-size: 1.2rem;
}
.portfolio .container-fluid .portfolio-box:hover .portfolio-box-caption, .portfolio .container-sm .portfolio-box:hover .portfolio-box-caption, .portfolio .container-md .portfolio-box:hover .portfolio-box-caption, .portfolio .container-lg .portfolio-box:hover .portfolio-box-caption, .portfolio .container-xl .portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}
.text-white-75 {
  color: rgba(255, 255, 255, 0.75);
}

.carousel-img {
  width: 100px !important;
  height: 100px !important;
  object-fit: cover;
  max-width: initial;
  display: inline !important;
}

.bg-post{
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-attachment: scroll !important;
  background-size: cover !important;
}

.bg-dark-50{
  background-color: rgba(0, 0, 0, 0.5)!important;
}

.dropdown-menu{
  padding: 0;
  top: 46px;
  border: 0;
  border-radius: 0;
}

@media (min-width: 992px) {
  .dropdown-menu{
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.15);
  }
}

.dropdown-item{
  padding: 0.5rem 1.5rem;
}

.dropdown-item:hover{
  background-clip: padding-box;
  background-color: #ed2124;
  color: #fff;
}

.dropdown-item.active, .dropdown-item:active{
  color: #000;
  background-color: rgba(0, 0, 0, 0);
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: 1.25em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}